@media (max-width: 370px) {
    .app-tit img {
        width: 23%;
    }
    .app-tit1 img {
        width: 115%;
    }
    .app-tit1 {
        margin-top: -34px;
        margin-left: 194px;
    }
    .pr p {
        text-align: center;
        margin-top: 100px;
        line-height: 30px;
        font-size: 9px;
    }
}
@media (max-width: 400px) {
    .app-tit img {
        width: 23%;
    }
    .app-tit1 img {
        width: 98%;
    }
    .app-tit1 {
        margin-top: -38px;
        margin-left: 194px;
    }
    .pr p {
        line-height: 30px;
        font-size: 9px;
    }
}